/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9; /* Light gray background */
}

/* Sidebar Styles */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #333; /* Dark gray sidebar */
  padding: 20px;
  text-align: center;
}

.sidebar h1 {
  color: #fff;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
}

.sidebar a:hover {
  color: #ccc;
}

.content {
  margin-left: 250px; /* Space for the sidebar */
  padding: 20px;
  height: 100vh; /* Full height */
}

.title {
  background-color: #4CAF50; /* Green title bar */
  color: white;
  padding: 3px 8px;
  text-align: center;
  font-size: 14px;
}

.button {
  background-color: #337ab7; /* Blue button */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Show pointer on hover */
}

.button2 {
  background-color: #337ab7; /* Blue button */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Show pointer on hover */
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 250px;
}

.card h2 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.section-title {
  background-color: #f7f7f7;
  color: #333;
  font-size: 1.8em;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}