
  
    1
    Lion
    Animal
    4
    Enclosure 1
    1
    1
  
  
    2
    Tiger
    Animal
    4
    Enclosure 2
    1
    1
  
  
    3
    Elephant
    Animal
    4
    Enclosure 3
    1
    1
  
  
    4
    Giraffe
    Animal
    4
    Enclosure 4
    1
    1
  
  
    5
    Monkey
    Animal
    4
    Enclosure 5
    1
    1
  
  
    6
    Zebra
    Animal
    4
    Enclosure 6
    1
    1
  
  
    7
    Kangaroo
    Animal
    4
    Enclosure 7
    1
    1
  
  
    8
    Panda
    Animal
    4
    Enclosure 8
    1
    1
  
  
    9
    Penguin
    Animal
    4
    Enclosure 9
    1
    1
  
  
    10
    Koala
    Animal
    4
    Enclosure 10
    1
    1
  
  
    11
    Newt
    Animal
    17
    Aquatic
    1
    1
  
  
    12
    Parrot
    Animal
    18
    Aviary
    1
    1
  
  
    13
    Bear
    Animal
    19
    Forest
    1
    1
  
  
    14
    Toad
    Animal
    20
    Aquatic
    1
    1
  
  
    15
    Sparrow
    Animal
    21
    Aviary
    1
    1
  
  
    16
    Desert Sand
    Habitat
    3
    Habitat Storage 1
    100
    1
  
  
    17
    Rocks
    Habitat
    3
    Habitat Storage 2
    200
    1
  
  
    18
    Branches
    Habitat
    3
    Habitat Storage 3
    150
    1
  
  
    19
    Water Bowl
    Habitat
    3
    Habitat Storage 4
    50
    1
  
  
    20
    Heat Lamp
    Habitat
    3
    Habitat Storage 5
    20
    1
  
  
    21
    Plants
    Habitat
    3
    Habitat Storage 6
    100
    1
  
  
    22
    Substrate
    Habitat
    3
    Habitat Storage 7
    50
    1
  
  
    23
    Hiding Spot
    Habitat
    3
    Habitat Storage 8
    30
    1
  
  
    24
    Climbing Structure
    Habitat
    3
    Habitat Storage 9
    20
    1
  
  
    25
    Water Filter
    Habitat
    3
    Habitat Storage 10
    15
    1
  
  
    26
    Disinfectant
    Cleaning
    2
    Cleaning Supply Room
    20
    1
  
  
    27
    Glass Cleaner
    Cleaning
    2
    Cleaning Supply Room
    15
    1
  
  
    28
    Floor Cleaner
    Cleaning
    2
    Cleaning Supply Room
    30
    1
  
  
    29
    Detergent
    Cleaning
    2
    Cleaning Supply Room
    40
    1
  
  
    30
    Sanitizer
    Cleaning
    2
    Cleaning Supply Room
    25
    1
  
  
    31
    Bleach
    Cleaning
    2
    Cleaning Supply Room
    35
    1
  
  
    32
    Deodorizer
    Cleaning
    2
    Cleaning Supply Room
    20
    1
  
  
    33
    Scrub Brush
    Cleaning
    2
    Cleaning Supply Room
    10
    1
  
  
    34
    Mop
    Cleaning
    2
    Cleaning Supply Room
    5
    1
  
  
    35
    Broom
    Cleaning
    2
    Cleaning Supply Room
    5
    1
  
  
    36
    Bananas
    Food
    5
    Fruit Storage
    200
    1
  
  
    37
    Acacia Leaves
    Food
    5
    Vegetable Storage
    150
    1
  
  
    38
    Apples
    Food
    5
    Fruit Storage
    100
    1
  
  
    39
    Hay
    Food
    5
    Grain Storage
    500
    1
  
  
    40
    Carrots
    Food
    5
    Vegetable Storage
    120
    1
  
  
    41
    Bamboo
    Food
    5
    Vegetable Storage
    100
    1
  
  
    42
    Fish
    Food
    5
    Meat Storage
    50
    1
  
  
    43
    Eucalyptus Leaves
    Food
    5
    Vegetable Storage
    30
    1
  
  
    44
    Beef
    Food
    5
    Meat Storage
    10
    1
  
  
    45
    Chicken
    Food
    5
    Meat Storage
    8
    1
  
