/*Author name: Lim Shuye*/
.add-item-form {
    width: 50%;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-item-form th {
    text-align: left;
    padding: 10px;
}

.add-item-form td {
    padding: 10px;
}

.add-item-form input[type="text"], .add-item-form input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-item-form input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-item-form input[type="submit"]:hover {
    background-color: #3e8e41;
}