/*
identify all structures of table in inventory system
*/

/*Inventory display table structure*/
.displayingTable {
    width: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    font-size: 18px;

}

.displayingTable th {
    background-color: #f8fbfd;
}

.displayingTable td,.displayingTable th {
    text-align: left;
    padding: 18px;
}

.nextpage {
    justify-content: right;
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.hrefText{
    text-decoration: none;
    color: black;
}

.hrefText:hover{
    cursor: pointer;
    font-weight: 600;
}

/*button shape sturcture*/

.prev, .next{
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
}


.prev a:visited, .next a:visited{
    text-decoration: none;
    color: white;
}

.prev:hover, .next:hover{
    cursor: pointer;
}

/*button single property*/
.prev{
    margin-right: 30px;
    background-color: #849cb2;
}

.next{
    margin-left: 30px;
    background-color: #182939;
}

/*Inventory display table properties*/
.displayingTable input[type='checkbox'] {
    width: 20px;
    height: 26px;
}


.updated {
    text-align: center;
    padding: 8px;
    font-weight: bold;
}

/*Inventory status update*/
.stockstatus {
    padding: 10px 30px;
    justify-content: center;
    color: white;
    border-radius: 20px;
    width: fit-content;
}

.lowstock{
    background-color: orangered;
}

.instock{
    background-color: green;
}
.outstock{
    background-color: red;
}

.lowstock:hover,
.instock:hover,
.outstock:hover {
    background-color: yellow; /* Change background to yellow */
    color: black; /* Change text color to black */
    content: "Replenish"; /* This doesn't work on its own for text change */
}

/* Text change on hover using pseudo-element */
.lowstock:hover::before,
.instock:hover::before,
.outstock:hover::before {
    content: "Replenish";
    color: black; /* Text color for "Replenish" */
    position: absolute;
    z-index: 1;
    background-color: yellow; /* Change background to yellow */
    padding: 0px 7px;
}

/*PO status update*/
.poStatus {
    padding: 10px 30px;
    justify-content: center;
    color: white;
    border-radius: 20px;
    width: fit-content;
}

.received{
    background-color: #67c16b;
}

.processing{
    background-color: #6687db;
}
.awaiting{
    background-color: #a176cb;
}

.approval{
    background-color: #a2ca62;
}
