/*
the container structure
*/
.container {
    display: flex;
    margin: 2%;
    font-size: 14px;
    /*    background-color: red;*/
}
.left {
    width: 30%;
    margin-right: 20px;
}
.right {
    width: 70%;
}

/*
Animal > Banana
*/
.navigation {
    display: flex;
    padding: 10px;
}
.navigation a {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
}
.navigation a.active {
    font-weight: bold;
}

/*
left panel
*/
.image {
    width: 100%; /* make the image container take up the full width of its parent */
}

.image img {
    width: 100%; /* make the image take up the full width of its container */
    object-fit: cover; /* scale the image to fit the container while maintaining aspect ratio */
    border-radius: 10px; /* add a slight border radius for a nicer look */
    margin: 10px; /* add some margin around the image */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.description {
    padding: 10px;
}
.description ul {
    list-style: disc;
    margin-left: 20px;
}


/*
right panel
*/
.details {
    padding: 20px;
}
.details table {
    background-color: white;
    width: 100%;
    border-collapse: collapse;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.details table th,.details table td{
    text-align: left;
    padding: 20px 58px ;
}
.productName{
    text-align: left !important;
    font-size: 18px;
}
.details table th {
    border-bottom: 1px solid #ddd;
    width:30%;
}
.details table td {
    border-bottom: 1px solid #ddd;
}
.details table td.available {
    color: greenyellow;
}
