* {
    font-family: sans-serif;
}

.alert {
    background-color: #f8d7da; /* Light red background */
    color: #721c24; /* Dark red text color */
    border: 1px solid #f5c6cb; /* Light red border */
    border-radius: 4px; /* Rounded corners */
    padding: 15px; /* Add some padding */
    margin: 15px 0; /* Space above and below */
    font-family: Arial, sans-serif; /* Font style */
    font-size: 16px; /* Font size */
}

.alert-success {
    background-color: #d4edda; /* Light green background */
    color: #155724; /* Dark green text color */
    border: 1px solid #c3e6cb; /* Light green border */
}

.alert-notification {
    background-color: #cce5ff; /* Light blue background */
    color: #004085; /* Dark blue text color */
    border: 1px solid #b8daff; /* Light blue border */
}


.alert-error {
    background-color: #f8d7da; /* Light red background */
    color: #721c24; /* Dark red text color */
    border: 1px solid #f5c6cb; /* Light red border */
}

.alert-warning {
    background-color: #fff3cd; /* Light yellow background */
    color: #856404; /* Dark yellow text color */
    border: 1px solid #ffeeba; /* Light yellow border */
}


/*control each page content body display*/
.main-content{
    position: relative;
    background-color:  #f8fbfd; /*main color*/
    padding:1rem;
    margin: 1rem;
}


/* control the navigations */
.inventoryNav{
    font-size: 16px;
}

.inventoryNav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #333;
}

.inventoryNav ul li {
    position: relative;
    display: inline-block;
}

.inventoryNav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 40px;
}

.inventoryNav ul li a:hover {
    background-color: #444;
}

.dropdown {
    position: relative;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    border: 1px solid #333;
    margin: 0;
    display: none;
    z-index: 1000;
    transition: display 0.5s;
}


.dropdown-menu li a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
}

.dropdown-menu li a:hover {
    background-color: #444;
}

.dropdown-menu ul {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    margin-top: 0;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    padding: 10px;
    width: 200px; /* set a width for the submenu */
    z-index: 1; /* make sure the submenu is on top of other elements */
}

.dropdown-menu li:hover > ul {
    display: block;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu ul {
    position: absolute;
    top: 0;
    left: 120%;
    background-color: #333;
    border: 1px solid #333;
    display: none;
    z-index: 1000;
}

.dropdown-submenu ul li {
    margin: 0;
    padding: 0;
}

.dropdown-submenu ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 3px 20px;
}

.dropdown-submenu ul li a:hover {
    background-color: #444;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-submenu:hover ul {
    display: block;
}


.active {
    background-color: pink;
}