
/*Inventory function*/
.recordingFunctions {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 20px;
}


.filter, .new-item a, .edit {
    display: flex;
    align-items: center;
    margin-right: 30px;
    text-decoration: none;
    color: black;
}

.filter:hover, .new-item:hover, .edit:hover {
    cursor: pointer;
}

.filter {

}



.edit {

}

.edit-icon, .filter-icon, .plus-icon{
    margin-right: 5px;
}