
.navigation{

}

.purchase-order {
    padding: 15px;
    margin-bottom: 20px;
}

.purchase-order h2 {
    margin-bottom: 10px;
}

.purchase-order .statusBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.purchase-order .status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.poStatus{
    margin: 20px;
}

.actions {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 20px;
}


.cancelorder a, .edit, .edit a {
    display: flex;
    align-items: center;
    margin-right: 30px;
    text-decoration: none;
    color: black;
}

.sendBtn {
    padding: 10px 30px;
    justify-content: center;
    color: white;
    border-radius: 20px;
    width: fit-content;
    border: none;
    text-decoration: none;
}



/*poLayout*/
.poLayout{
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 3%;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
}
.purchase-order .details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}
.column {
    flex: 1; /* Allows columns to grow and shrink as needed */
    margin: 0 10px; /* Optional: Adds horizontal spacing between columns */
}

.left {
    max-width: 50%;
}

.right {
    max-width: 50%;
}

.label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #839cb2;
    text-align: right;
    opacity: 60%;
}

.value {
    margin-bottom: 10px;
    font-weight: 600;
    text-align: left;
}
.poHeader{
    padding: 2%;
}

.poHeader h2{
    text-align: right;
    margin: 20px 80px;
    font-size: 16px;
}

.poAddressTable{
    width: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    font-size: 14px;
}

.poAddressTable th {
    background-color: #f9f9f9;
}

.poAddressTable td,.poAddressTable th {
    text-align: left;
    padding: 18px;
}

.poLayout h3{
    padding: 2%;
}

.total-section {
    padding: 2%;
}

.total{
    margin-right: 0;
}

.total th, .total td{
    padding: 10px;
    text-align: right;
}


