/*Author name: Lim Shuye*/


.supplier-info-section {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}


/*supplier information table structure, Recent Deals table control using displayingTable.css*/
.section-table{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}

/*About supplier*/
.supplierInfo {
    
}

.supplierInfo th{
   text-align: left;
}

.supplierInfo tr td:first-child{
    padding: 15px;
    text-align: left;
}

.supplierInfo tr td:last-child{
    padding: 15px;
    text-align: right;
    font-weight: bold;
}

.supplier-details h3 {
    margin-bottom: 15px;
}


/*Recent Deals supplier*/

.recent-deals {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.recent-deals-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.more-deals {
    display: block;
    text-align: right;
    margin-top: 15px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.supplier-evaluation-section{
    
}

.supplier-evaluation-section .displayingTable tr td:not(:first-child),
.supplier-evaluation-section .displayingTable tr th:not(:first-child){
    text-align: center;
}


.risk-assessment {
    font-weight: bold;
}

.risk-status {
    color: green;
}

.overall-rating{
    font-weight: bold;
    font-size: 30px;
}

.save-button {
    padding: 10px 30px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    background-color: #849cb2;
    color: white;
    border: none;
    
    
}

.supplier-evaluation-section .displayingTable tr:last-of-type td{
    text-align: right;
}


