<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Health Records</title>
</head>
<body>
<h2>Health Records</h2>
<table border="1">
<tr>
<th>Health ID</th>
<th>Animal ID</th>
<th>Last Checkup</th>
<th>Treatments</th>
<th>Health Status</th>
</tr>
<tr>
<td>1</td>
<td>1</td>
<td>2024-01-23</td>
<td>Vaccination</td>
<td>Healthy</td>
</tr>
<tr>
<td>2</td>
<td>2</td>
<td>2024-01-01</td>
<td>No treatment</td>
<td>Healthy</td>
</tr>
<tr>
<td>3</td>
<td>3</td>
<td>2024-09-20</td>
<td>dddqd</td>
<td>Healthy</td>
</tr>
<tr>
<td>4</td>
<td>11</td>
<td>2024-09-10</td>
<td>pi</td>
<td>Treatment</td>
</tr>
<tr>
<td>5</td>
<td>4</td>
<td>2024-10-02</td>
<td>dcvas</td>
<td>Treatment</td>
</tr>
<tr>
<td>6</td>
<td>12</td>
<td>2024-01-01</td>
<td>No treatment</td>
<td>Healthy</td>
</tr>
<tr>
<td>7</td>
<td>5</td>
<td>2024-09-15</td>
<td>ef</td>
<td>Warning</td>
</tr>
<tr>
<td>8</td>
<td>6</td>
<td>2024-01-01</td>
<td>Dental check</td>
<td>Unknown</td>
</tr>
<tr>
<td>9</td>
<td>7</td>
<td>2024-01-01</td>
<td>Dental Check</td>
<td>Unknown</td>
</tr>
<tr>
<td>10</td>
<td>8</td>
<td>2024-09-20</td>
<td>juj</td>
<td>Treatment</td>
</tr>
<tr>
<td>11</td>
<td>9</td>
<td>2024-01-01</td>
<td>Dental check</td>
<td>Healthy</td>
</tr>
<tr>
<td>12</td>
<td>10</td>
<td>2024-01-01</td>
<td>No treatment</td>
<td>Healthy</td>
</tr>
<tr>
<td>13</td>
<td>13</td>
<td>2024-01-01</td>
<td>No treatment</td>
<td>Unknown</td>
</tr>
<tr>
<td>14</td>
<td>14</td>
<td>2024-01-01</td>
<td>No treatment</td>
<td>Unknown</td>
</tr>
<tr>
<td>15</td>
<td>15</td>
<td>2024-01-01</td>
<td>No treatment</td>
<td>Unknown</td>
</tr>
<tr>
<td>16</td>
<td>16</td>
<td>2024-01-01</td>
<td>No treatment</td>
<td>Unknown</td>
</tr>
<tr>
<td>29</td>
<td>17</td>
<td>2024-09-10</td>
<td>rg</td>
<td>Treatment</td>
</tr>
<tr>
<td>30</td>
<td>10</td>
<td>2024-09-18</td>
<td>ewfw</td>
<td>Treatment</td>
</tr>
<tr>
<td>31</td>
<td>9</td>
<td>2024-09-19</td>
<td>hthtr</td>
<td>Warning</td>
</tr>
<tr>
<td>32</td>
<td>9</td>
<td>2024-09-11</td>
<td>dfg</td>
<td>Warning</td>
</tr>
<tr>
<td>33</td>
<td>12</td>
<td>2024-09-18</td>
<td>feasf</td>
<td>Warning</td>
</tr>
</table>
<br><a href="add_health.php"><button>Add New Health Record</button></a>
</body>
</html>
