<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="../../Css/AnimalN/health.css">
<script type="text/javascript" src="health.js"></script><title>Animal Health Reports</title>
</head>
<body>
<h2>Animal Health in Warning</h2>
<table border="1">
<tr>
<th>Health ID</th>
<th>Animal ID</th>
<th>Last Checkup</th>
<th>Treatments</th>
<th>Health Status</th>
</tr>
<tr>
<td>23</td>
<td>20</td>
<td>2024-09-10</td>
<td>area_check</td>
<td>Warning</td>
</tr>
<tr>
<td>28</td>
<td>34</td>
<td>2024-09-10</td>
<td>body_check</td>
<td>Warning</td>
</tr>
</table>
<br><button type="button" onclick="confirmAndPrint()">Print Report</button>
</body>
</html>
