<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="../../Css/AnimalN/health.css">
<script type="text/javascript" src="../../View/AnimalView/health.js"></script><title>Animal Health Reports</title>
</head>
<body>
<h2>Animal Health in Warning</h2>
<table border="1">
<tr>
<th>Health ID</th>
<th>Animal ID</th>
<th>Last Checkup</th>
<th>Treatments</th>
<th>Health Status</th>
</tr>
<tr>
<td>5</td>
<td>4</td>
<td>2024-09-05</td>
<td>i86i86</td>
<td>Warning</td>
</tr>
<tr>
<td>9</td>
<td>7</td>
<td>2024-09-04</td>
<td>tgheg</td>
<td>Warning</td>
</tr>
<tr>
<td>22</td>
<td>21</td>
<td>2024-09-06</td>
<td>i7ki7</td>
<td>Warning</td>
</tr>
</table>
<br><button type="button" onclick="confirmAndPrint()">Print Report</button>
</body>
</html>
